.footer {
    background-color: #d1d1d1;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
  }
  
  .footer-links a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  