.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 15px 30px;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  background-color: #4CAF50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 .logo a {
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
}
 .nav-links a {
  margin-left: 24px;
  color: #ffffff;
  text-decoration: none;
}
 .nav-links a:hover {
  text-decoration: underline;
}